.support-badges {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;


    .sup-badge {

        img {

        }

        h1 {
            font-size: 20px;
            font-weight: 700;
        }

        p {
            font-size: 16;
            font-weight: 400;
        }
    }


}